@import "./theme-colors.scss";
@import "./mixins.scss";

*,
*:before,
*:after{
  padding: 0;
  margin:0;
}
body {
  color: #969696;
  font-family: 'Josefin Sans', sans-serif;
  
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  @media (max-width: 1199px){
    .layout{
      &:before,
      &:after{
        position: absolute;
        top:50%;
        left:50%;
        @include translate(-50%, -50%);
        color: #000; 
      }
      &:before{
        content:url('https://ansig.netlify.app/static/c2158d26c44a9c4f7f8e34447a43560d/65e33/codepros-logo.png');
      }
      &:after{
        content:"Mobile Work in Progress";   
        top: calc( 50% + 40px );    
      }
      *{
        display: none;
      }
    }
  }  
}

ul {
  list-style: none;

  li {
    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

button[type="submit"]{
  @include transition(opacity, 0.75s, ease-out);
  &:hover{
    opacity: 0.7;
  }
}

ul.floated-list {
  margin-bottom: 0;

  li {
    float: left;
    display: block;

    a {
      display: block;
    }

    ul {
      margin-bottom: 0;

      li {
        float: none;
      }
    }
  }
}

a {
 text-decoration: none;  
  color: inherit;
  @include transition(all, 0.35s, ease-out);

  &:hover {
   text-decoration: inherit;
   color: inherit;
    opacity: 0.7;
  }
}

// Specific Styles
.header{
  @include transition(background-color, 0.75s, ease-out);
}
.header-sticky .header{
  background-color: $theme-000000;
}
.section{
  padding: 100px 0;
  .section-info{
    .si-title{
      position: relative;
      margin-bottom: 50px;
      h2{
        color: #484646;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
      }
      span{
        position: absolute;
        left: 0;
        right:0;
        top: 70%;
        font-weight: 600;
        @include translateY(-50%);
        font-size: 27px;
        color: $theme-ffffff;
        letter-spacing: 1px;
        &:after{
          width: 100px;
          position: absolute;
          bottom: -5px;
          height: 2px;
          background-color:$theme-bd9d3f;
          content:"";
          left: 50%;
          @include translateX(-50%)
        }
      }
    }
    .si-desc{
      p{
        &:last-child{
          margin-bottom: 0;
        }
        span{
          color: $theme-bd9d3f;
        }
      }
    }
  }
}


.theme-ffffff{
  color: $theme-ffffff !important;
}

.theme-bd9d3f{
  color: $theme-bd9d3f !important;
}

